
/* colores:
            
            naranja: #C02425
            amarillo: #F0CB35
            negro: #999
            gris: #f5f5f5
*/

body{
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1F1C18, #8E0E00,#1F1C18);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1F1C18, #8E0E00,#1F1C18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    background: #110101;
}

table{
    align-content: center;
    border: solid 1px #000;
    
}

td{
    align-items: center;
    background-color: cadetblue;
    align-content: center;
}

