@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightblue;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_Side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profile_Text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.animation {
    position: relative;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
}

.animation::before {
    content: '';
    position: absolute;
    inset: -5px 70px;
    background: linear-gradient(315deg, lightblue, #003147);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.animation:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.animation::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
}

.imgBx {
    position: absolute;
    inset: 10px;
    border: 6px splid #070a1c;
    border-radius: 50%;
    z-index: 3;
    overflow: hidden;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}

.profile_Text h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profile_Text h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contact_Info {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact_Info .ul {
    position: relative;
}

.contact_Info ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contact_Info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contact_Info ul li span {
    color: #fff;
    font-weight: 300;
}

.contact_Info ul li a {
    text-decoration:none;
    color: #fff;
    font-weight: 300;
}

.contact_Info ul li a::before {
    text-decoration:none;
    color: #fff;
    font-weight: 300;
}

.contact_Info.education li {
    margin-bottom: 15px;
}

.contact_Info.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

.contact_Info.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.contact_Info.education h4 {
    color: #fff;
    font-weight: 300;
}

.contact_Info .level {
    color: #03a9f4;
    font-weight: 500;
    margin: 0px 20px;
}

.container .right_Side {
    position: relative;
    background: #fff;
    padding: 40px;

}

.about {
    margin-bottom: 20px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
    text-align: justify;
}

.about  .company h4{
    text-transform: uppercase;
    color: #4b5052;
    font-weight: 600;
}

.about  .company h3{
    text-transform: uppercase;
    color: #05435f;
    font-weight: 600;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .experiency {
    min-width: 150px;
}

.about .box .experiency h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .experiency h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 500;
}

.skills .box .percent{
    font-weight: 500;
    color: #2a7da2;
    margin: 0px 50px;
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .fa{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}

@media (max-width: 1000px) {
   
   .container{
    margin: 10px;
    grid-template-columns: repeat(1,1fr);
   }

   .interest ul{
    grid-template-columns: repeat(2,1fr);
   }   
}

@media (max-width: 600px) {
    .about .box{
        flex-direction: column;
    }

    .about .box .experiency{
        margin-bottom: 5px;
    } 

    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 400px) {
    .mail {
        font-size: 15px;
    }

}